#2021
#ignore file extension
*.pyc
*.png

# to avoid that people sync their own param file in the git dir
*.ini

#if someone run Asterix in the git repo, results are not synced
# *.fits
# *.FITS
# *.Fits

*.zip

Labview/
Model_local/
Interaction_Matrices/
Results/

#ignore those for mac / vscode / PyCharm users
.DS_Store
.vscode/
.idea/

#ignore auxiliary directories if built
Asterix.egg-info/
testing_scripts/
build/
dist/
